<div class="menu">
    <div class="row">
        <div class="col-md-4">
            <p class="logo">pasteboard</p>
        </div>
        <div class="col-md-8">
            <div class="menu-navigation">
                <button md-button>USERS</button>
                <button md-button>PROJECTS</button>
                <button md-button>BOARDS</button>
                <button md-button>MEDIA</button>
                <button md-button>NOTES</button>
            </div>
        </div>
    </div>

    <hr/>

    <ul class="breadcrumb">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Project</a></li>
        <li><a href="#">Boards</a></li>
        <li class="active">Board</li>
    </ul>

    <hr/>
</div>